<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="log4net.Config" value="Config/log4net.config"/>
  <add key="AppId" value="140114"/>
  <!--JobList刷新时间间隔，建议控制在1个小时左右，单位：秒-->
  <add key="RefreshTimes" value="2220"/>
  <!--ZooKeeper测试服务器集群连接地址（包括端口号）-->
  <add key="ZKServer" value="192.168.2.196:2181,192.168.2.196:2182,192.168.2.196:2183"/>
  <!--会话超时时间（单位：秒）：设置默认值1小时-->
  <add key="ZKSessionTimeOut" value="3600"/>
  <!--Master选举的根节点路径-->
  <add key="ZKMasterElectionRootNodeName" value="JinRi.Job.HttpScheduler"/>
  <!--是否使用本地开关(True：表示强制指定本应用为Master 需手动停止其他Slave  False：表示使用Zookeeper Master选举，)-->
  <add key="UseLocalSwitch" value="false"/>
</appSettings>