<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <appender name='MongoDBAppender' type='log4net.Appender.MongoDBAppender'>
    <connectionString value='mongodb://log4net1:dadas!#1231421768@192.168.2.196:27017/log4net' />
    <bufferSize value="1" />
    <!--<bufferSize value="100" />-->
  </appender>
  <root>
    <priority value="INFO" />
    <!--默认系统日志往mongodb中存日志-->
    <appender-ref ref='MongoDBAppender' />
  </root>
  <logger name="MongoDBLogger" additivity="false">
    <appender-ref ref="MongoDBAppender"  />
  </logger>
</log4net>