<?xml version="1.0"?>
<configuration>
	<appSettings configSource="Config\AppSetting.config"/>
  <connectionStrings configSource="Config\Database.config" />
	<system.web>
    <pages validateRequest="false" enableEventValidation="false" />
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
