<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="log4net.Config" value="Config/log4net.config"/>
  <!--应用程序ID-->
  <add key="AppID" value="140112"/>
  <!--ZooKeeper测试服务器连接地址（包括端口号）-->
  <!--<add key="ZKServer" value="192.168.2.196:2181"/>-->
  <!--ZooKeeper生产服务器连接地址（包括端口号）-->
  <add key="ZKServer" value="114.80.75.23:22183"/>
  <!--<add key="ZKServer" value="114.80.69.250:2181"/>-->
  <!--<add key="ZKServer" value="114.80.75.23:22181"/>-->
  <!--会话超时时间（单位：秒）：设置默认值1小时-->
  <add key="ZKSessionTimeOut" value="3600"/>
</appSettings>


