<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="log4net.Config" value="Config/log4net.config"/>
  <!--<add key="mongoDBConfig" value="mongodb://mon_inter:+vgbPWV00bwRGOQ8niXOxQ==@114.80.75.23:27017/Fltlog_log4net"/>
  <add key="mongoDBName" value="Fltlog_log4net"/>-->
  
  <add key="mongoDBConfig" value="mongodb://log4net1:dadas!#1231421768@192.168.2.196:27017/log4net"/>
  <add key="mongoDBName" value="log4net"/>
  
  <!--<add key="mongoDBCollection" value="140104logs"/>-->
  <!--<add key="mongoDBConfig" value="mongodb://mon_inter:+vgbPWV00bwRGOQ8niXOxQ==@114.80.75.23:27017/Fltlog_log4net"/>
  <add key="mongoDBName" value="Fltlog_log4net"/>-->
  <!--<add key="mongoDBConfig" value="mongodb://mon_intergj:+vgbPWV00bwGJOQ8niXOxQ==@61.151.247.215:27017/Fltgj_log4net"/>
  <add key="mongoDBName" value="Fltlog_log4net"/>-->
  <!--应用程序ID-->
  <add key="appid" value="140104"/>
  <!--页大小-->
  <add key="PageSize" value="25"/>
  <!--实例iP+端口-->
  <add key="RedisServerIP" value="192.168.2.196:6379"/>
</appSettings>