<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings configSource="Config\AppSetting.Dev.config" />
  <connectionStrings configSource="Config\Database.Dev.config" />

  <system.serviceModel>
    <bindings configSource="Config\ServiceModel.Bindings.config" />
    <behaviors configSource="Config\ServiceModel.Behaviors.config" />
    <client configSource="Config\ServiceModel.Client.config" />
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
