<?xml version="1.0" encoding="utf-8"?>
<bindings>
  <netTcpBinding>
    <binding name="netTcpBindingConfig"  closeTimeout="00:30:00" portSharingEnabled="true"
            openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10">
      <readerQuotas maxDepth="2147483647"
                                maxStringContentLength="2147483647"
                                maxArrayLength="2147483647"
                                maxBytesPerRead="2147483647"
                                maxNameTableCharCount="2147483647" />
      <reliableSession ordered="true"  inactivityTimeout="00:01:00" enabled="false" />
    </binding>
  </netTcpBinding>
  <wsHttpBinding>
    <binding name="wsHttpBindingConfig">
      <readerQuotas maxDepth="2147483647"
                                maxStringContentLength="2147483647"
                                maxArrayLength="2147483647"
                                maxBytesPerRead="2147483647"
                                maxNameTableCharCount="2147483647" />
      <reliableSession ordered="true"  inactivityTimeout="00:01:00" enabled="false" />
      <security mode="None">
      </security>
    </binding>
  </wsHttpBinding>
</bindings>
