<?xml version="1.0" encoding="utf-8"?>
<behaviors>
  <serviceBehaviors>
    <behavior name="DefaultBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
      <dataContractSerializer maxItemsInObjectGraph="655360000" />
    </behavior>
  </serviceBehaviors>
</behaviors>