<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMQHost" value="host=192.168.2.196:5673;virtualHost=default;username=test_jinri01;password=G/IpUYV+a7yOTqVgCFmZZw"/>
    <add key="SmtpHost" value="smtp.jinri.cn"/>
    <add key="EmailSenderAddr" value="louzhenyu@jinri.cn"/>
    <add key="EmailSenderPwd" value="zylou789@#"/>
  </appSettings>
</configuration>