<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="RabbitMQHost" value="host=192.168.2.196:5673;publisherConfirms=true;persistentMessages=false;virtualHost=default;username=test_jinri01;password=G/IpUYV+a7yOTqVgCFmZZw"/>
  <!--<add key="RabbitMQHost" value="host=114.80.75.23:5600;publisherConfirms=true;virtualHost=default;username=dev_jinri01;password=5k5Epp3Mj3QSsLXgG9zGuw"/>-->
    <add key="log4net.Config" value="Config/log4net.config"/>
  <add key="AppId" value="140107"/>
  </appSettings>
</configuration>