<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="WXTAccount" value="dh1523"/>
  <add key="WXTPassword" value="1523.gd"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SmsService4XMLImplPortSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://3tong.net/services/sms" binding="basicHttpBinding"
          bindingConfiguration="SmsService4XMLImplPortSoapBinding" contract="CTCSmsService.ISmsService4XML"
          name="SmsService4XMLImplPort" />
    </client>
  </system.serviceModel>
</configuration>