<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="log4net.Config" value="Config/log4net.config"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="AdministratorRole" value="2"/>
  <!--Redis服务器IP-->
  <add key="FxRedisServerIP" value="192.168.2.196:6380"/>
  <add key="appid" value="140110"/>
  <!--ZooKeeper测试服务器集群连接地址（包括端口号）-->
  <!--<add key="ZKServer" value="192.168.6.15:2181,192.168.6.15:2182,192.168.6.15:2183"/>-->
  <add key="ZKServer" value="192.168.2.196:2181,192.168.2.196:2182,192.168.2.196:2183"/>  
  <!--<add key="ZKServer" value="192.168.11.139:2181,192.168.11.138:2181,192.168.11.137:2181"/>-->
  <!--会话超时时间（单位：秒）：设置默认值1小时-->
  <add key="ZKSessionTimeOut" value="3600"/>
  <!--JSOA 2.0 API UI Address-->
  <add key="JSOAUIAddress" value="JSOA/Api/UI/jsoa-api-ui/"/>
  <!--配置中心权限管理菜单中文名-->
  <add key="ConfigCenterMenuName" value="配置中心权限管理"/>
</appSettings>