<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net debug="false">
    <appender name='MongoDBAppender' type='log4net.Appender.MongoDBAppender'>
      <connectionString value='mongodb://log4net1:dadas!#1231421768@192.168.2.196:27017/log4net' />
      <bufferSize value="1" />
      <!--<bufferSize value="100" />-->
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="logger\\log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] (%file:%line) %-5level %logger [%property{NDC}] - %message%newline" />-->
        <conversionPattern value="%d [%c] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <!--设置记录日志级别-->
      <level value="Info" />
      <!--默认系统日志往mongodb中存日志-->
      <appender-ref ref='MongoDBAppender' />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <logger name="MongoDBLogger" additivity="false">
      <appender-ref ref="MongoDBAppender"  />
    </logger>
    <!--文本日志-->
    <logger name="FileLogger" additivity="false">
      <appender-ref ref="FileAppender"  />
    </logger>
  </log4net>
</configuration>