<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="log4net.Config" value="Config/log4net.config"/>
  <!--今日应用编号-->
  <add key="AppId" value="100101"/>
  <!--静态资源服务器地址-->
  <add key="StaticFileDominName" value="http://res.jinri.cn/"/>
  <!--Redis 服务器地址-->
  <add key="RedisServerIP" value="192.168.2.196:6379"/>
  <!--Metrics 服务端地址-->
  <add key="Metrics.ServiceReportUrl" value="http://192.168.2.23:10001/Metrics.asmx" />
  <!--数据库连接解密密钥-->
  <add key="EncryptKey" value="BeiJing#2008"/>
  <add key="vs:EnableBrowserLink" value="false"/>
</appSettings>