<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="JinRiDB_SELECT" connectionString="GyEItJtJeAgBrfz5z4LSm0jDqWYl4RhmF6ydL7RAZ0i2BZEYiA5luRds3UxCPviSzh3U7fhkyPlOBulX/D1/FTXfa2zSyARy7nKmEd+XO3ydk6sxVK0yxA==" providerName="System.Data.SqlClient"/>
  <add name="JinRiDB_INSERT" connectionString="GyEItJtJeAgBrfz5z4LSm0jDqWYl4RhmF6ydL7RAZ0i2BZEYiA5luRds3UxCPviSzh3U7fhkyPlOBulX/D1/FTXfa2zSyARy7nKmEd+XO3ydk6sxVK0yxA==" providerName="System.Data.SqlClient"/>
  <add name="JinRiRateDB_SELECT" connectionString="GyEItJtJeAgBrfz5z4LSm0jDqWYl4RhmF6ydL7RAZ0i2BZEYiA5luaflPhrunqosnSfEeI2PpqCjyry37WGZFbnSa74XgYiivmypiKuW11EmHX1RXxQCV5JfCIfz9rED" providerName="System.Data.SqlClient"/>
  <add name="JinRiRateDB_INSERT" connectionString="GyEItJtJeAgBrfz5z4LSm0jDqWYl4RhmF6ydL7RAZ0i2BZEYiA5luaflPhrunqosnSfEeI2PpqCjyry37WGZFbnSa74XgYiivmypiKuW11EmHX1RXxQCV5JfCIfz9rED" providerName="System.Data.SqlClient"/>
</connectionStrings>